<% back_txt = "previous" %>
<div class="question-wrapper">
  <%= simple_form_for [:questionnaire, @question] do |f| %>
    <div class="question-form-before">
      <% if !@question.is_first? %>
        <%= link_to back_txt, spree.questionnaire_question_path(@previous) unless @previous.nil? %>
      <% else %>
        <%= link_to back_txt, spree.questionnaire_path %>
      <% end %>
    </div>
    <div  class="question-form">
      <h1><%= @question.text %></h1>
      <%= f.simple_fields_for :question_options do |ff| %>
        <% new_answer = ff.object.question_option_answers.build %>
        <%= ff.simple_fields_for :question_option_answers, new_answer do |fff| %>
          <%= render :partial => 'question_option_answer', :locals => { :fff => fff } %>
        <% end %>
        
      <% end %>
    </div>
    <div class="question-form-after">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>
