<%= simple_form_for [:questionnaire, @question] do |f| %>
  <div class="question-form-before">
    <% if !@question.is_first? %>
      <%= link_to "previous", spree.questionnaire_question_path(@previous) unless @previous.nil? %>
    <% else %>
      <%= link_to "previous", spree.questionnaire_path %>
    <% end %>
  </div>
  <div  class="question-form">
    <div class="question-text">
      <p><%= @question.text %></p>
    </div>
    <%= f.simple_fields_for :question_options do |ff| %>
      <%= render :partial => 'question_option_value', :locals => { :ff => ff } %>
    <% end %>
  </div>
  <div class="question-form-after">
    <%= f.button :submit %>
  </div>
<% end %>